{% extends "categories/index.html" %}

{% block head_title %} مكتب نور - إدارة فئات (تحت رئيسية){% endblock %}

{% block head %}{% endblock %}


{% block main_content %}

<!-- Loop through Vec<CategoryTree> inside <main> -->
{% for category in category_tree %}
<section class="collection">
    <div class="collection__info">
        <h2 class="collection__title">{{ category.main.name_ar }}</h2>
        <span class="collection__counter">({{ category.subs.len() }})</span>
        <div class="card__actions">
            <!-- ده ممكن ميكنش ليه لزمة لأن لو الفئة ملهاش فروع بيدخل على طول على الإيديتنج، ولو ليها بيدخل على العرض-->
            {% if category.subs.is_empty()%}
            <a href="/web/categories/{{ category.main.id }}/edit" class="btn btn--sm btn--text">تعديل</a>
            <form action="/web/categories/{{ category.main.id }}/delete" method="POST" class="inline-form">
                <button type="submit" class="btn btn--sm btn--danger-text">حذف</button>
            </form>
            {% else %}
            <a href="/web/categories/{{ category.main.id }}/edit" class="btn btn--sm btn--text">تعديل</a>
            {% endif %}

        </div>
    </div>

    {% if !category.subs.is_empty() %}
    <div class="collection-grid">
        {% for sub in category.subs %}
        <article class="card">
            <header class="card__header">
                <h3 class="card__title">{{ sub.name_ar }}</h3>
                <span class="card__counter">ID : ({{ sub.id }})</span>
            </header>
            <div class="card__body">
                {{ sub.name_ar }}
            </div>



            <footer class="card__footer">
                <time datetime="{{ sub.created_at.format(" %Y-%m-%d") }}" class="card__date">
                    {{ sub.created_at.format("%Y-%m-%d") }}
                </time>
                <div class="card__actions">


                    <a href="/web/categories/{{ sub.id }}/edit" class="btn btn--sm btn--text">تعديل</a>
                    <form action="/web/categories/{{ sub.id }}/delete" method="POST" class="inline-form delete-form">
                        <button type="submit" class="btn btn--sm btn--danger-text">حذف</button>
                    </form>

                </div>
            </footer>






        </article>
        {% endfor %}
    </div>
    {% else %}
    <p>no subs</p>
    {% endif %}
</section>
{% endfor %}
{% endblock %}