<!DOCTYPE html>
<html lang="ar" dir="rtl">

<head>
    {% include "components/head.html" %}
    <title>
        {% block head_title %}مكتب نور - الصفحة الرئيسية{% endblock %}
    </title>
    {% block head %}{% endblock %}
</head>

<body class="page-layout">

    <header class="header">
        {% block header_info %}{% endblock %}
        {% block header_search %}{% endblock %}
        {% block header_action %}{% endblock %}
    </header>



    <aside class="sidebar">
        {% include "components/aside.html" %}
    </aside>

    <main class="main-content">
        {% include "components/flash_messages.html" %}
        {% block main_content %}{% endblock %}
    </main>

    <footer class="page-footer">
        <p>جميع الحقوق محفوظة لمكتب نور</p>
    </footer>
</body>

</html>