 <h2 class="sidebar__title">لوحة التحكم</h2>
        <nav class="nav">
            <ul class="nav__list">
                <li class="nav__item">
                   
                    <a href="/web/categories" class="nav__link 
                     {% if current_page == "categories"%} nav__link--active {% endif %}">إدارة الفئات</a>
                   
                </li>
                <li class="nav__item">
                   
                    <a href="/web/products" class="nav__link 
                     {% if current_page == "products"%} nav__link--active {% endif %}">إدارة الأصناف</a>
                   
                </li>
            </ul>
        </nav>